services:
  pose:
    build: .
    image: pose-estimation-cpu:latest
    environment:
      - NO_DISPLAY=1 
    container_name: pose_estimation_cpu
    volumes:
      - ./models:/app/models:rw
      - ./data:/app/data:ro
      - ./output:/app/output:rw
    stdin_open: true
    tty: true